
.pokemon-title {
  color: #ecc154;
  font-size: 2rem;
  text-transform: capitalize;
}

.pokemon-card-container {
  display: grid;
  grid-template-columns: 3fr 2fr;
  gap: 1rem;
  padding-top: 2rem;
}

.pokemon-img-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.pokemon-img {
  height: 50vh;
}

.pokemon-img img {
  transition: all 0.2s;
}

.pokemon-img img:hover {
  filter: drop-shadow(0px 0px 12px rgb(74, 33, 151));
}

.pokemon-types {
  padding-top: 1rem;
}

.pokemon-description-container {
  padding-block: 2rem;
}

.pokemon-description-data {
  text-align: start;
}
@media screen and (max-width: 768px) {
  .pokemon-card-container {
    grid-template-columns: 1fr;
  }
  .pokemon-description-data {
    text-align: center;
  }
}